@charset "UTF-8";

// Default Variables

// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"


$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: $orange;
$slick-dot-color-active: $white;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 30px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 1 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}


/* Slider */
.slick-slide {
    &:focus,
    &:active {
        outline: none;
    }
}




/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 33px;
    width: 63px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: calc(50% - 17px);
    padding: 0;
    border: none;
    z-index: 100;
    outline: none;
    display: none;

    @include tablet-portrait {
        display: block;
    }

    &:hover, &:focus {
        outline: none;
        background: transparent;
        color: transparent;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.slick-prev {
    left: -20px;

    @include desktop {
        left: -40px;
    }

    &:before {
        background: url(images/arrow-prev.svg) no-repeat 0 0;
        width: 63px;
        height: 33px;
        content: '';
        display: block;
    }
}

.slick-next {
    right: -20px;

    @include desktop {
        right: -40px;
    }
    &:before {
        background: url(images/arrow-next.svg) no-repeat 0 0;
        width: 63px;
        height: 33px;
        content: '';
        display: block;
    }
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: -40px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: 10;

    li {
        position: relative;
        display: inline-block;
        height: 12px;
        width: 12px;
        margin: 0 10px;
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: 12px;
            width: 12px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;

            &:hover, &:focus {
                outline: none;
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 12px;
                height: 12px;
                line-height: 20px;
                text-align: center;
                background: $white;
                border: 1px solid $charcoal;
                border-radius: 50%;
            }
        }

        &.slick-active button:before {
            background: $orange;
            border-color: $charcoal;
        }
    }
}
