.listings-section-header {
	padding: 50px 0 25px 0;
}

.listings-filters {
	border-top: 1px solid $charcoal;
	border-bottom: 1px solid $charcoal;

	.wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;

		@include tablet-portrait {
			padding: 0 25px;
			align-items: stretch
		}

		@media screen and (min-width: 1250px) {
			padding: 0;
		}
	}

	.property-type {
		padding: 20px 25px;
		flex: 1;

		@include mobile-landscape {
			padding-bottom: 0;
		}

		@include tablet-portrait {
			padding: 20px 40px 0 0;
		}

		.header {
			padding: 0 0 10px 0;

			h5 {
				font-family: $montserrat;
				font-weight: 400;
				font-size: 0.75em;
			}
		}

		.toggles {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;


			.toggle {
				width: 100%;

				@include mobile-landscape {
					width: 50%;
					padding-bottom: 20px;
				}

				@include tablet-landscape {
					width: auto;
				}

				& + .toggle {
					padding-top: 20px;
		
					@include mobile-landscape {
						padding-top: 0;
					}
				}

				a {
					text-transform: uppercase;
					font-size: 0.8125em;
					line-height: 1em;
					letter-spacing: 0.05em;
					display: flex;
					position: relative;

					&:before {
						content: '';
						display: block;
						width: 24px;
						height: 24px;
						border: 1px solid $charcoal;
						border-radius: 50%;
						margin-right: 10px;
					}

					&:after {
						content: '';
						display: block;
						width: 14px;
						height: 14px;
						background: $orange;
						border-radius: 50%;
						position: absolute;
						top: 6px;
						left: 6px;
						transition: opacity 0.2s ease-in;
					}

					&:not(.on) {
						&:after {
							opacity: 0;
						}
					}
				}
			}
		}
	}

	.views {
		display: flex;
		border-left: 1px solid $charcoal;
		border-right: 1px solid $charcoal;
		border-top: 1px solid $charcoal;
		width: 100%;
		align-items: stretch;

		@include tablet-portrait {
			border-top: none;
			width: auto;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px 40px;
			font-size: 0.75em;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.05em;
			width: 50%;
			text-align: center;
			color: $dark-gray;


			@include tablet-portrait {
				padding: 35px 40px;
				width: auto;
				height: 100%;
				align-self: center;
			}

			& + a {
				border-left: 1px solid $charcoal;
			}

			&:hover,
			&.active {
				background: $orange;
				color: $white;
			}
		}
	}
}


.listings-main {
	@include listings-wrapper;

	.listings {
		padding: 50px 0 100px 0;

		@include tablet-portrait {
			padding: 75px 0 150px 0;
		}
	}
}

