body.post-type-archive-research {

	section.featured-posts {
		margin-top: 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.post {
			width: 100%;

			& + .post {
				margin-top: 10px;
			}

			@include tablet-portrait {
				width: calc(50% - 5px);

				& + .post {
					margin-top: 0;
				}

				&:nth-child(1) {
					.info-wrapper {
						margin-left: auto;
					}					
				}
			}

			.photo {
				@include aspect-ratio(1,1);
				&:after {
					display: block;
					content: '';
					width: 100%;
					height: 30px;
					z-index: 2;
					position: absolute;
					bottom: 0;
					left: 0;
					background: rgba(100, 100, 100, 0.4);
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}


			.info {
				background: #C5C5C5;
				padding: 40px 25px;

				@include tablet-landscape {
					padding: 40px 80px;
				}

				.info-wrapper {
					max-width: 420px;
				}

				.headline {
					padding-bottom: 20px;

					a:hover {
						text-decoration: underline;
					}
				}

				.meta {
					padding-bottom: 20px;

					p {
						font-weight: 500;
						text-transform: uppercase;
						letter-spacing: 0.075em;
					}
				}

				.cta {
					.btn {
						border-width: 1px;
						letter-spacing: 0.075em;
						padding-left: 50px;
						padding-right: 50px;
					}
				}
			}
		}
	}

	section.topics {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.topics-wrapper {
			@include two-col-grid;
		}

		.topic {
			.section-header {
				padding-bottom: 10px !important;
				border-bottom: 1px solid $charcoal;
				margin-bottom: 20px;

				h4 {
					text-transform: uppercase;
					font-weight: 700;
				}
			}

			.docs {
				.doc {
					& + .doc {
						padding-top: 50px;
					}
				}
			}

			.headline {
				padding-bottom: 20px;

				h3 {
					max-width: 90%;
				}

				a:hover {
					text-decoration: underline;
				}
			}

			.meta {

				p {
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}
			}
		}
	}
}