body.page-template-contact {

	section.hero {
		max-height: 490px;
		@include aspect-ratio(16, 9);

		@include tablet-portrait {
			@include aspect-ratio(160, 55);
		}
	}


	section.general-inquiries {
		padding: 50px 0 50px 0;

		@include tablet-portrait {
			padding: 75px 0 100px 0;
		}

		.headline {
			padding-bottom: 20px;
		}

		div.wpforms-container-full .wpforms-form {
			.wpforms-field {
				padding: 0;

				& + .wpforms-field {
					padding-top: 20px;
				}
			}

			.wpforms-submit-container {
				padding: 20px 0 0 0;
			}


			.wpforms-one-half {
				width: 49%;
				margin-left: 2%;
			}

			button[type=submit] {
				background: $orange;
				font-family: $montserrat;
				border: none;
				color: $white;
				text-transform: uppercase;
				font-size: 0.875em;
				letter-spacing: 0.05em;
				padding: 15px 30px 13px 30px;
				width: 100%;
				max-width: 400px;

				@include tablet-portrait {
					max-width: 49%;
				}
			}

			.questions-dropdown {
				position: relative;

				&:after {
					display: block;
					content: '';
					position: absolute;
					right: 10px;
					top: calc(60%);
					z-index: 1;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 8px 7px 0 7px;
					border-color: #4a4a4a transparent transparent transparent;					
				}
			}


			@include tablet-portrait {
				.questions-dropdown,
				.email-field {
					width: 49%;
					float: left;
					clear: none;
				}

				.email-field {
					float: right;
				}
			}
		}
	}


	section.location {
		display: flex;
		flex-wrap: wrap;
		overflow-x: hidden;
		padding-top: 50px;

		.info,
		.map {
			width: 100%;
		}

		@include tablet-landscape {
			.info {
				width: 50%;
				z-index: 2;

				.photo {
					padding-top: 55px;

					img {
						max-width: 504px;
						margin-left: auto;
					}
				}
			}

			.map {
				width: 50%;
				z-index: 1;

				.map-view-wrapper {
					width: 125%;
					transform: translateX(-20%);
				}
			}
		}

		.contact-info {
			background: $orange;
			color: $white;
			padding: 25px;

			.contact-wrapper {
				margin-top: -50px;
				padding-left: 20px;
				max-width: 504px;
				margin-left: auto;				

				&:after {
					@include section-header-rule;
					left: 0;
					top: 0;
					height: 100%;
					z-index: 1;
				}

			}

			.headline {
				h4 {
					text-transform: uppercase;
					font-family: $montserrat;
					font-weight: 400;
					font-size: 0.875em;
					padding-bottom: 10px;
				}
			}

			.address {
				h4 {
					padding-bottom: 30px;
					color: $charcoal;
				}
			}

			.phone {
				padding-top: 50px;
			}
		}

		.photo {
			img {
				width: 100%;
			}
		}



		.acf-map {
			width: 100%;
			height: 60vh;
			max-height: 500px;

			@include tablet-landscape {
				height: 630px;
			}
		}

		.acf-map img {
		   max-width: inherit !important;
		}

		.gm-style .gm-style-iw-d .info {
			padding: 30px;
			width: 100% !important;

			.cta {
				a {
					font-size: 0.875em;
				}
			}

			@include tablet-portrait {
				padding: 40px;
			}
		}
	}



	section.questions {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 150px 0 150px 0;
		}

		.wrapper {
			max-width: 660px;
		}

		.section-headline {
			padding-bottom: 80px;
		}

		section.topic-section {
			border-bottom: 1px solid $charcoal;
			padding-bottom: 80px;

			& + section.topic-section {
				padding-top: 80px;
			}

			&:last-of-type {
				padding-bottom: 0;
				border-bottom: none;
			}

			.topic {
				display: flex;
				align-items: flex-end;
				padding-bottom: 40px;

				.icon {
					img {
						width: 100%;
						max-width: 112px;

						@include tablet-landscape {
							max-width: 149px;
						}
					}
				}

				.headline {
					padding-left: 40px;
				}

				.cta {
					.btn {
						padding-left: 50px;
					}
				}
			}
		}
	}

}