body.page-template-faqs {

	footer {
		@include tablet-portrait {
			margin-top: 100px;
		}		
	}


	section.faq {
		padding-bottom: 100px;

		.section-headline {
			padding: 0 0 20px 0;
		}

		.questions {
			border-top: 1px solid $charcoal;

			.question {
				border-bottom: 1px solid $charcoal;
				display: flex;
				align-items: stretch;

				&:hover {
					cursor: pointer;

					.toggle {
						background: $orange;
					}
				}

				.toggle {
					display: flex;
					align-items: center;
					text-align: center;
					align-items: center;
					width: 50px;

					&:after {
						content: '+';
						font-size: 1.5em;
						padding: 0 10px;
						font-weight: 600;
						margin: 0 auto;
						height: 100%;
						transform: translateY(calc(50% - 12px));
						transition: all 0.2s ease-in;
						display: block;
					}
				}

				&.open {
					.toggle {
						background: $orange;
						&:after {
							content: '-';
						}
					}
				}

				h3 {
					flex: 1;

					padding: 15px 0;


				}

			}

			.answer {
				background: $light-gray;
				padding: 20px;
				display: none;

				@include tablet-portrait {
					padding: 40px;

					.copy-wrapper {
						max-width: 660px;
						margin: 0 auto;
					}
				}
			}
		}
	}

}