footer {
	padding: 50px 0;
	color: $white;

	a {
		color: $white;
	}

	.newsletter {
		padding-bottom: 40px;

		.headline {
			text-align: center;
			padding-bottom: 30px;

			h3 {
				font-size: 1.5em;
				line-height: 1.125em;

				@include tablet-portrait {
					font-size: 2.25em;
				}
			}
		}

		.form-wrapper {
			max-width: 450px;
			margin: 0 auto;
		}

		div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
		div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
		div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
			max-width: 100%;
		}

		div.wpforms-container-full .wpforms-form .wpforms-field input[type="text"],
		div.wpforms-container-full .wpforms-form .wpforms-field input[type="email"],
		div.wpforms-container-full .wpforms-form .wpforms-field textarea,
		div.wpforms-container-full .wpforms-form .wpforms-field select {
			background: $white !important;
			border: none !important;
		}

		form {

			button[type=submit] {
				background: $orange !important;
				padding: 12px 25px 10px 25px !important;
				border: 2px solid $orange !important;
				color: $white !important;

				&:hover {
					border: 2px solid $orange !important;
				}
			}



			.email {
				width: 100%;
				max-width: 320px;

				.email-input {
					padding: 12px 10px;
					border: none;
					width: 100%;
					font-size: 0.8125em;
					letter-spacing: 0.075em;

					&:focus,
					&:active {
						outline: none;
					}
				}
			}

			.submit {
				margin-left: 20px;
			}
		}
	}

	.footer-links {
		padding: 40px 0 0 0;
		border-top: 2px solid rgba(255, 255, 255, 0.5);

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			@include mobile-landscape {
				justify-content: flex-start;
			}

			@include tablet-landscape {
				justify-content: space-between;
			}
		}

		.col {
			width: 47.5%;
			margin-bottom: 50px;

			@include mobile-landscape {
				width: 33.3333%;
			}

			@include tablet-landscape {
				width: auto;
			}

			.main-link {
				padding-bottom: 20px;

				a {
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 1em;
					display: block;

					@include tablet-landscape {
						font-size: 1.125em;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.sub-links {
				a {
					display: block;
					line-height: 1.25em;
					font-size: 0.875em;

					@include tablet-landscape {
						font-size: 1em;
					}

					& + a {
						margin-top: 20px;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.contact-info {
		padding-bottom: 30px;

		.corporate {
			font-weight: bold;
		}

		.corporate,
		.corporate2 {
			margin-bottom: 8px;
		}

		.item {

			& + .item {
				padding-top: 20px;
			}

			a {
				font-size: 0.875em;

				@include tablet-landscape {
					font-size: 1em;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}

	}

	.legal {
		.wrapper {


			span, a {
				font-size: 0.75em;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				line-height: 0.9375em;

				@include tablet-landscape {
					font-size: 0.8125em;
				}
			}

			a:hover {
				text-decoration: underline;
			}

			> * + * {
				margin-left: 10px;
				border-left: 2px solid $white;
				padding-left: 10px;

				@include tablet-portrait {
					margin-left: 20px;
					padding-left: 20px;
				}
			}
		}
	}
	

}