body {

	&.sticky {

		@include tablet-portrait {
			padding-top: 78px;

			header {
				top: 0;
				position: fixed !important;
				width: 100%;			
				background: rgba(255, 255, 255, 0.9);
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
				z-index: 1000;
				animation: smoothScroll 0.2s forwards;

				.logo {
					.site-name {
						color: $charcoal;
					}
				}

				.main-nav {
					.link {
						a {
							color: $charcoal;
						}
					}
				}
			}
		}

		@include tablet-landscape {
			padding-top: 108px;

			&.has-hero {
				padding-top: 0;
			}
		}		
	}
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-108px);
	}
	100% {
		transform: translateY(0px);
	}
}


header {
	padding: 15px 0;

	@include tablet-landscape {
		padding: 30px 0;
	}
	

	&.nav-overlay {
		@include tablet-landscape {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 100;
			background: $white;
		}
	}

	@include tablet-landscape {
		&.light {
			.logo {
				.site-name {
					color: $white;
				}
			}

			.main-nav {
				.link {
					a {
						color: $dark-gray;
					}
				}
			}
		}
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include tablet-landscape {
			align-items: flex-end;
		}
	}

	.logo {
		margin-right: 40px;

		a {
			display: flex;
			align-items: center;			
		}

		.image {
			display: block;
			width: 145px;

			img {
				width: 145px;
				height: 34px;
			}
		}

		.site-name {
			display: block;
			font-size: 0.8125em;
			font-weight: 600;
			line-height: 1.25em;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			padding-left: 15px;
		}
	}


	.main-nav {
		display: none;

		@include tablet-landscape {
			display: flex;
			align-items: center;
			margin-right: auto;	
			transform: translateY(-2px);	
		}


		.link {

			@include tablet-landscape {
				& + .link {
					padding-left: 30px;
				}

				a {
					font-weight: 600;
					text-transform: uppercase;
					font-size: 0.75em;
					display: block;
					letter-spacing: 0.07em;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			@include desktop {
				& + .link {
					padding-left: 40px;
				}
			}
		}
	}

	#toggle {
		width: 40px;
	    cursor: pointer;
		padding: 22px 10px;

	    z-index: 10001;

	    @include tablet-landscape {
	    	display: none;
	    }

		.patty {
		    width: 35px;
		    height: 2px;
		    background: $slate;
		    border-radius: 2px;
		    margin-left: auto;
		    transition: all 0.2s;

			&:after, &:before {
			    content: '';
			    display: block;
			    width: 35px;
			    height: 2px;
			    background: $slate;
			    position: absolute;
			    z-index: 1;
			    border-radius: 2px;
			    transition: all 0.2s;
			}
			&:before {
			    top: -8px;
			}
			&:after {
			    top: 8px;
			}
		}
	}
}


@media screen and (max-width: 1023px) {

	body.nav-open {
		overflow: hidden;

		header {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			max-height: 100vh;
			background: $black;
			z-index: 1000;
		}

		.logo {
			z-index: 100000;

			.site-name {
				color: $white !important;

			}
		}

		nav.main-nav {
			padding: 125px 25px 25px 25px;
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			max-height: 100vh;
			z-index: 10001;


			@media screen and (max-height: 520px) {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;

				.link {
					width: 50%;
					padding: 0;

					& + .link {
						padding-top: 0 !important;
					}
				}
			
			}


			.link {

				& + .link {
					padding-top: 30px;
				}

				a {
					color: $white;
					font-family: $georgia;
					font-weight: bold;
					font-size: 1.5em;
				}
			}
		}

		.search-field.mobile {
			display: block;
		}

		#toggle {
			background: $orange;
			padding: 22px 10px;
			width: auto;
			transform: translateX(2px);

			.patty {
				background: none;

				&:after {
				    top: 0;
				    transform: rotate(45deg);
				    background: $white;
				}
				&:before {
				    top: 0;
				    transform: rotate(-45deg);
				    background: $white;
				}
			}
		}
	}
}