body.home {

	section.hero.cover {
		.headline {
			h1 {
				font-size: 3.5em;
				line-height: 0.875em;
				color: $white;

				@include tablet-portrait {
					font-size: 4.5em;
				}

				@include tablet-landscape {
					font-size: 5.75em;
				}

				@include desktop {
					font-size: 7.8125em;
				}
			}
		}		
	}

	section#valuation {

		.section-header {
			padding: 50px 0 25px 0;
			z-index: 100;

			@include tablet-portrait {
				padding: 80px 0 25px 0;
			}

			h4 {

				&:after {
					@include section-header-rule;
					left: 10px;
					bottom: -200px;
					height: 220px;

					@include mobile-landscape {
						bottom: -200px;
						height: 220px;
					}

					@include tablet-landscape {
						bottom: -260px;
						height: 280px;
						left:  -20px;
					}

					@include desktop {
						bottom: -380px;
						height: 400px;
					}
				}
			}
		}

		.valuation-form {
			padding: 50px 0;
			background: $orange;
			z-index: 50;

			.wrapper {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			.headline {
				padding-left: 20px;
				width: 100%;

				@include tablet-portrait {
					width: calc(50% - 25px);
				}

				h2 {
					color: $white;
				}
			}

			.form {
				width: 100%;
				padding-top: 50px;

				@include tablet-portrait {
					width: calc(50% - 25px);
					padding-top: 0;
				}

				.copy {
					padding-bottom: 40px;
					color: $white;
				}

				div.wpforms-container-full {
					margin: 0;

					.wpforms-form {

						input {
							padding: 10px;
							font-size: 0.875em;
							color: $white;
							border-color: $white;

							@include placeholder {
								color: $white;
							}
						}
					}

					.wpforms-field-captcha {
						label {
							color: $white;
							font-weight: normal;
						}	

						.wpforms-captcha-equation {
							color: $white;
						}
					}


					.wpforms-submit-container {
						.btn {
							padding-left: 50px;
							padding-right: 50px;

							&:hover {
								background: $charcoal;
								color: $white;
							}
						}
					}
				}
			}
		}
	}

	.featured-listings {
		padding: 100px 0;
		@include listings-wrapper;

		.section-header {
			padding-bottom: 50px;

			h4 {
				&:after {
					@include section-header-rule;
				}
			}
		}

		.view-all {
			padding-top: 50px;
			text-align: center;
		}
	}

	.why-us {
		padding: 50px 0;
		max-height: 800px;
		overflow: hidden;
		@include aspect-ratio(1, 1);

		@include tablet-portrait {
			@include aspect-ratio(16, 9);
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.wrapper {
				width: 100%;
			}
		}

		.headline {
			padding-bottom: 50px;

			h2 {
				color: $white;

				@include desktop {
					font-size: 5.25em;
				}
			}
		}

		.copy {
			padding-bottom: 50px;
			max-width: 680px;

			p {
				color: $white;
			}
		}
	}

	.stats {
		background: $orange;
		padding: 50px 0;

		.wrapper {
			max-width: 100%;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			@include mobile-landscape {
				justify-content: space-between;
			}
		}

		.stat {
			text-align: center;
			width: 100%;

			& + .stat {
				padding-top: 50px;
				border-top: 1px solid $charcoal;
				margin-top: 50px;

				@include mobile-landscape {
					padding-top: 0;
					border-top: none;
					margin-top: 0;
				}
			}

			@include mobile-landscape {
				width: calc(50% - 25px);


				&:nth-child(3),
				&:nth-child(4) {
					padding-top: 50px;
					border-top: 1px solid $charcoal;
					margin-top: 50px;
				}
			}

			@include tablet-portrait {
				flex: 1;
				width: auto;
				padding: 0 25px;

				&:nth-child(3),
				&:nth-child(4) {
					padding-top: 0;
					border-top: none;
					margin-top: 0;
				}


				& + .stat {
					border-left: 1px solid $charcoal;
				}

			}

		}

		.headline {
			text-align: center;
			width: 100%;

			h2 {
				color: $white;
			}
		}

		.copy {
			text-transform: uppercase;
			padding-top: 20px;

			p {
				font-weight: 600;
				letter-spacing: 0.05em;
				color: $dark-gray;
			}
		}
	}

	.services {
		padding: 100px 0;
		max-height: 800px;
		@include aspect-ratio(1, 1);
		overflow: hidden;

		@include mobile-landscape {
			@include aspect-ratio(4, 3);
		}

		@include tablet-portrait {
			@include aspect-ratio(16, 9);
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			.wrapper {
				width: 100%;
			}
		}

		.icons {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			flex-wrap: wrap;
			width: 50%;

			@include mobile-landscape {
				width: 100%;
				justify-content: flex-start;
			}

			.service {
				padding-bottom: 40px;
				width: 50%;

				@include mobile-landscape {
					width: auto;
					margin-right: 40px;
				}

				.icon {
					img {
						width: 100%;
						max-width: 40px;

						@include tablet-portrait {
							max-width: 60px;
						}

						@include tablet-landscape {
							max-width: 80px;
						}
					}

				}

				.description {
					display: block;
					color: $white;
					padding-top: 10px;
					text-transform: uppercase;
					font-size: 0.75em;
					line-height: 1.25em;
					font-weight: 600;
				}
			}

		}

		.headline {
			padding-bottom: 20px;

			h2 {
				color: $white;

				@include desktop {
					font-size: 5.25em;
				}
			}
		}

		.copy {
			padding-bottom: 20px;
			max-width: 680px;

			p {
				color: $white;
				font-weight: 500;
			}
		}
	}

	.market-updates {
		padding: 100px 0;

		@include tablet-landscape {
			padding: 150px 0;
		}

		.section-header {
			padding-bottom: 50px;

			h4 {
				&:after {
					@include section-header-rule;
					left: 50px;
					z-index: 2;
					height: 75px;
					bottom: -35px;
				}
			}
		}
		.posts {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.post {
			width: 100%;

			& + .post {
				padding-top: 50px;
			}

			@include mobile-landscape {
				width: calc(50% - 10px);

				& + .post {
					padding-top: 0;
				}
			}


			.photo {
				@include aspect-ratio(16,7);

				a {
					display: block;
					height: 100%;
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.info {
				padding-top: 20px;
			}

			.meta {
				padding-top: 20px;

				p {
					font-family: $montserrat;
					font-size: 1em;
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.05em;

					a:hover {
						text-decoration: underline;
					}
				}
			}

			.cta {
				padding-top: 20px;
			}

		}
	}
}