body.page-template-how-we-do-it {

	section.processes-nav {
		display: none;

		@include tablet-portrait {
			display: block;
			border-bottom: 1px solid $charcoal;
			background: rgba(255, 255, 255, 0.9);
			overflow: hidden;
		}

		@supports(position: sticky) {

			@include tablet-portrait {
				position: sticky;
				top: 64px;
				z-index: 10;
			}

			@include tablet-landscape {
				top: 94px;
			}
		}



		.wrapper {
			display: flex;
			justify-content: center;
		}

		.anchor {
			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 8px;
				background: transparent;
				position: absolute;
				bottom: -4px;
				transition: all 0.2s ease-in;
			}

			&:hover,
			&.active {
				&:after {
					background: $orange;
				}
			}

			a {
				display: block;
				text-align: center;
				padding: 15px 30px;

				@include tablet-landscape {
					padding: 15px 50px;
				}

				span {
					display: block;
				}

				.number {
					font-family: $georgia;
					font-weight: bold;
					font-size: 1.25em;
					padding-bottom: 10px;
				}

				.label {
					font-family: $montserrat;
					text-transform: uppercase;
					font-size: 0.75em;
				}
			}
		}
	}

	section.processes {
		padding: 0 0 50px 0;

		@include tablet-portrait {
			padding: 0 0 100px 0;
		}

		.process {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding-top: 50px;

			@include tablet-portrait {
				padding-top: 100px;
			}

			& + .process {
				
				border-top: 1px solid $charcoal;

				@include tablet-portrait {
					border-top: none;
					

					&:last-of-type {
						.info {
							border-bottom: none;
							padding-bottom: 0;
						}
					}
				}
			}

			.number {
				width: 100%;

				@include tablet-portrait {
					max-width: 60px;
				}				
			}

			.icon {
				width: 100%;
				max-width: 100px;
				max-height: 100px;
				margin: 25px 0;

				@include tablet-portrait {
					max-width: 150px;
					max-height: 150px;
					margin: 0 40px;
				}

				img {
					width: 100%;
					height: 100%;
				}
			}

			.info {
				width: 100%;

				@include tablet-portrait {
					width: auto;
					flex: 1;
					padding-bottom: 100px;
					border-bottom: 1px solid $charcoal;
				}

				.headline {
					h2 {
						padding-bottom: 20px;
					}
				}

				.copy {
					padding: 20px 0;
				}
			}
		}
	}
}