body.blog,
body.category {

	section.featured-post {
		.photo {
			@include aspect-ratio(160, 74);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:after {
				display: block;
				content: '';
				width: 100%;
				height: 30px;
				z-index: 2;
				position: absolute;
				bottom: 0;
				left: 0;
				background: rgba(12, 13, 12, 0.4);
			}
		}

		.info {
			background: $dark-gray;
			color: $white;
			padding: 40px 0;

			.wrapper {
				max-width: 680px
			}

			h3 a,
			p a {
				color: $white;
			}

			.headline {
				padding-bottom: 20px;
			}

			.meta {
				padding-bottom: 20px;

				p {
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.075em;
				}
			}

			.cta {
				.btn {
					border-width: 1px;
					letter-spacing: 0.075em;
					padding-left: 50px;
					padding-right: 50px;

					&:hover {
						color: #3B3C4C;
					}
				}
			}
		}
	}

	section.blog-posts {
		padding: 50px 0;

		@include mobile-landscape {
			padding: 100px 0;
		}
	}

	.posts {
		@include two-col-grid;

		article {
			.photo {
				@include aspect-ratio(160, 74);

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.info {
				padding-top: 20px;

				.headline {
					padding-bottom: 20px;

					h3 {
						max-width: 90%;
					}
				}

				.meta {
					padding-bottom: 20px;

					p {
						font-weight: 500;
						text-transform: uppercase;
						letter-spacing: 0.075em;
					}
				}

				.cta {
					.btn {
						border-width: 1px;
						letter-spacing: 0.075em;
						padding-left: 50px;
						padding-right: 50px;
					}
				}				
			}
		}
	}


	.pagination {
		padding-top: 50px;

		.screen-reader-text {
			display: none;
		}

		.nav-links {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		a, span {
			display: block;
			font-weight: bold;
			border-bottom: 1px solid transparent;
			position: relative;
		}

		.current {
			border-bottom: 1px solid $charcoal;

		}

		.page-numbers:not(.next):not(.prev) {
			margin: 0 10px;
			&:before {
				content: '';
				display: block;
				height: 18px;
				width: 1px;
				background: $charcoal;
				position: absolute;
				left: -10px ;
			}
		}

		.nav-links > span.current:first-child,
		.prev + .page-numbers {
			&:before {
				display: none;
			}
		}

		.prev,
		.next {

		    &:before {
		        width: 63px;
		        height: 33px;
		        content: '';
		        display: block;
		    }
		}

		.prev {
			margin-right: 40px;

			&:before {
				background: url(images/arrow-prev.svg) no-repeat 0 0;
			}
		}

		.next {
			margin-left: 40px;
			&:before {
				background: url(images/arrow-next.svg) no-repeat 0 0;
			}
		}

	}
}

body.category {
	section.cat-page-title {
		padding-top: 20px;
	}

	section.blog-posts {
		padding-top: 50px;
	}
}