#map-view {
	height: 800px;
	width: 100%;
}

.gm-style .gm-style-iw-c {
	padding: 0;
	background: #0C0D21;
	border-radius: 0;
}
.gm-style .gm-style-iw-t::after {
	background: #0C0D21;
}

.gm-ui-hover-effect {
	background: $orange !important;
	opacity: 1 !important;
	top: 0 !important;
	right: 0 !important;

	img {
		width: 24px !important;
		height: 24px !important;
		margin: 3px !important;
	}
}


.gm-style .gm-style-iw-d {
	background: #0C0D21;
	font-family: $montserrat;
	overflow: hidden !important;
	max-width: 360px !important;

	.photo {
		.mask {
			display: block;
	
			img {				
				width: 100%;
				height: 150px;
				object-fit: cover;
			}
		}
		
		.status {
			padding: 20px;
			position: absolute;
			top: 100px;
			left: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			width: 80px;
			height: 100%;


			.icon {
				width: 100%;
				max-width: 40px;
				height: 60px
			}

			.label {
				display: block;
				text-transform: uppercase;
				transform: rotate(90deg) translate3d(-20px, -10px, 0);
				transform-origin: left bottom;
				color: $white;
				width: 100%;
				white-space: nowrap;
				letter-spacing: 0.05em;

				@media screen and (min-width: 470px) {
					display: none;
				}

				@include tablet-landscape {
					display: block;
				}

			}
		}
	}

	.info {
		font-family: $montserrat;
		padding: 20px 20px 30px 80px;

		h4 {
			font-family: $montserrat;
			padding-bottom: 5px;
			font-size: 1.25em;
			color: $white;
			letter-spacing: 0.01em;

			a {
				color: $white;
				&:hover {
					text-decoration: underline;
				}
			}
		}

		p {
			font-size: 1.25em;
			line-height: 1.75em;
			letter-spacing: 0.01em;
			color: $white;
		}

		.cta {
			padding-top: 20px;

			a.btn {
				font-size: 1.125em;
				letter-spacing: 0.1em;
				font-weight: 400;
			}
		}
	}
}
