body.page-template-market-updates {

	section.updates {
		padding: 50px 0;
		overflow: hidden;

		.content-type + .content-type {
			padding-top: 100px;
		}

		@include tablet-portrait {
			padding: 100px 0;
			display: flex;
			justify-content: space-between;

			.content-type {
				width: calc(50% - 5px);
			}

			.content-type + .content-type {
				padding-top: 0;
			}
			.info-wrapper {
				max-width: 440px;
			}
		}

		.section-header {
			text-align: left;
			padding-bottom: 25px;
			max-width: 600px;
			margin-left: auto;

			h3 {
				margin-left: 25px;

				@include tablet-portrait {
					margin-left: 10%;
				}
				

				span {
					position: relative;
					display: inline-block;
					padding-left: 20px;

					&:after {
						@include section-header-rule;
						left: 0;
						top: 0;
						height: 140px;
						z-index: 2;
					}
				}				
			}
		}

		.featured-photo {
			@include aspect-ratio(1,1);
			&:after {
				display: block;
				content: '';
				width: 100%;
				height: 30px;
				z-index: 2;
				position: absolute;
				bottom: 0;
				left: 0;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.post {
			padding: 40px 20px;

			@include tablet-portrait {
				padding: 40px 80px;
			}

			& + .post {
				margin-top: 10px;

			}

			.headline {
				padding: 20px 0 40px 0;
			}

			.meta {
				padding-bottom: 20px;

				p {
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.075em;
					font-size: 0.875em;

					@include tablet-landscape {
						font-size: 1em;
					}
					
					a:hover {
						text-decoration: underline;
					}
				}
			}

			.cta {
				.btn {
					border-width: 1px;
					letter-spacing: 0.075em;
				}
			}
		}

		.view-all {
			padding-top: 25px;
			display: flex;
			

			@include tablet-portrait {
				justify-content: center;
			}

			.link-wrapper {
				margin-left: -20px;
				padding-left: 20px;

				&:after {
					@include section-header-rule;
					left: 0;
					top: auto;
					bottom: 0;
					height: 100px;
					z-index: 2;
				}
			}
		}

		section.research {
			@include tablet-portrait {
				.info-wrapper {
					margin-left: auto;
				}
			}

			.featured-photo {
				&:after {
					background: rgba(100, 100, 100, 0.4);
				}
			}

			.post {
				background: #afabac;
			}

			.link-wrapper {
				transform: translateX(25px);

				@include tablet-portrait {
					transform: translateX(-20%);
				}
				
			}
		}

		section.blog {
			.section-header {
				text-align: right;
				margin-left: 0;
				margin-right: auto;

				h3 {
					margin-left: 0;
					margin-right: 25px;

					@include tablet-portrait {
						margin-right: 10%;
					}

					span {
						padding-left: 0;
						padding-right: 20px;

						&:after {
							left: auto;
							right: 0;
						}
					}				
				}
			}
			.featured-photo {
				&:after {
					background: rgba(12, 13, 12, 0.4);
				}
			}

			.post {
				background: $dark-gray;
				color: $white;

				h3 a,
				p a {
					color: $white;
				}

				.cta {
					.btn {
						padding-left: 50px;
						padding-right: 50px;

						&:hover {
							color: #3B3C4C;
						}
					}
				}
			}

			.view-all {

				.link-wrapper {
					margin-left: auto;
					margin-right: 5px;
					padding-right: 20px;

					@include tablet-portrait {
						margin-left: 0;
						padding-left: 0;
						margin-right: -20px;
						padding-right: 20px;
						transform: translateX(20%);
					}


					&:after {
						@include section-header-rule;
						left: auto;
						right: 0;
						top: auto;
						bottom: 0;
						height: 100px;
						z-index: 2;
					}
				}
			}

		}
	}
}