body.page-template-default.page {

	section.generic {
		.wrapper {
			max-width: 800px;
		}
	}


	section.page-header.generic {
		padding: 50px 0 25px 0;

		@include tablet-portrait {
			padding: 50px 0;
		}

	}

	section.copy.generic {
		padding: 0 0 50px 0;

		@include tablet-portrait {
			padding: 0 0 100px 0;
		}
		
		
	}

}