body.search-results {

	section.results {
		padding-bottom: 100px;

		.result {
			display: flex;
			width: 100%;
			padding: 50px 0;
			max-width: 720px;

			& + .result {
				border-top: 1px solid $charcoal;
			}

			.photo {
				max-width: 120px;
			}

			.info {
				padding-left: 20px;
				flex: 1;

				&.no-photo {
					padding-left: 0;
				}

				.headline {
					padding-bottom: 20px;

					h4 {
						text-transform: uppercase;
						font-family: $montserrat;
						font-weight: 400;
						font-size: 0.75em;
						letter-spacing: 0.025em;
						padding-bottom: 2px;
					}

					h3 {
						@include tablet-portrait {
							font-size: 1.5em;
						}

						a {
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}

				.cta {
					padding-top: 20px;

					.btn {
						border-width: 1px;
					}
				}
			}

			&.page {
				.cta {
					padding-top: 0;
				}
			}			
		}
	}
}