body.single-post,
body.single-agents {

	article {

		.featured-image {
			@include aspect-ratio(16,7);
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.sharing {
			padding-top: 20px;

			@include tablet-portrait {
				padding-top: 0;
			}

			.wrapper {
				display: flex;
				align-items: center;

				@include tablet-portrait {
					flex-direction: column;
					justify-content: center;
					align-items: center;
					position: absolute;
					right: 20px;
					top: 50px;
					z-index: 100;
				}

				@include tablet-portrait {
					right: calc(50% - 400px);
				}
			}

			.link {

				& + .link {
					padding-left: 20px;

					@include tablet-portrait {
						padding-left: 0;
						padding-top: 25px;
					}

				}
				a {
					display: block;

					img {
						width: 100%;
						height: 100%;
						max-width: 20px;
						max-height: 20px;

						@include tablet-portrait {
							max-width: 32px;
							max-height: 32px;
						}
					}
				}
			}
		}

		.article-header {
			padding-top: 50px;

			.wrapper {
				max-width: 660px;
			}
			.meta {
				padding-bottom: 20px;

				@include tablet-portrait {
					padding-bottom: 40px;
				}

				p {
					font-weight: 500;
					text-transform: uppercase;
					letter-spacing: 0.075em;
					line-height: 1.25em;
					font-size: 0.875em;

					@include tablet-portrait {
						font-size: 1em;
					}
				}

				a:hover {
					text-decoration: underline;
				}
			}
			.headline {
				h2 {
					font-size: 2em;
					line-height: 1.125em;

					@include tablet-portrait {
						font-size: 3em;
						max-width: 90%;
					}

					@include desktop {
						font-size: 4em;
					}
				}
			}

		}

		.article-body {
			padding: 50px 0 50px 0;

			.wrapper {
				max-width: 660px;
			}

			a {
				text-decoration: underline;
			}

			h1, h2, h3, h4, h5 {
				padding-bottom: 20px;
				padding-top: 20px;
			}

			.fluid-width-video-wrapper {
				margin-bottom: 40px;
			}

			@include tablet-portrait {
				h1 {
					font-size: 2em;
				}

				h2 {
					font-size: 1.5em;
				}

				h3 {
					font-size: 1.25em;
				}

				h4 {
					font-size: 1em;
				}

				h5 {
					font-size: 0.875em;
					text-transform: uppercase;
					letter-spacing: 0.05em;
				}
			}


			p {
				padding-bottom: 40px;

				& + p,
				& + ul,
				& + ol {
					padding-top: 0;
				}

				& + ul,
				& + ol {
					margin-top: -10px;
				}

			}

			ul, ol {
				padding-left: 20px;
				padding-bottom: 40px;

				& + p {
					padding-top: 0;
				}
			}

			blockquote {
				padding: 0 0 40px 40px;
				margin: 0;

				p {
					padding-bottom: 0;
					font-size: 1em;

					& + p {
						padding-top: 20px;
					}
				}
			}

			img {
				margin-bottom: 40px;

				&.alignnone,
				&.aligncenter {
					margin: 0 auto;
				}
			}

			.wp-caption {
				width: 100% !important;

				img {
					width: auto !important;
					height: auto !important;
				}

				.wp-caption-text {
					padding-top: 20px;
					font-size: 0.875em;
				}
			}

		}


	}

	section.posts-pagination {
		padding-bottom: 50px;

		.wrapper {
			max-width: 660px;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.all {
			flex: 0 1 auto;
			transform: translateY(-8px);

			@include tablet-portrait {
				transform: translateY(0);
			}
		}

		a {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			font-size: 0.875em;

			@include tablet-portrait {
				font-size: 1em;
			}
		}

		.prev,
		.next {
			width: 63px;

			a {
				color: $white;
				font-size: 0;

				@include tablet-portrait {
					font-size: 1em;
					color: $charcoal;
					display: flex;
					align-items: center;
				}

			    &:before {
			        width: 63px;
			        height: 33px;
			        content: '';
			        display: block;
			    }
			}
		}

		.prev {
			@include tablet-portrait {
				width: 175px;
			}
			margin-right: auto;

			@include tablet-landscape {
				transform: translateX(-40px);
			}
			a {
				&:before {
					background: url(images/arrow-prev.svg) no-repeat 0 0;

					@include tablet-portrait {
						margin-right: 20px;
					}
				}
			}
		}

		.next {
			flex: 0 1 auto;
			margin-left: auto;

			@include tablet-portrait {
				width: 131px;
			}
			@include tablet-landscape {
				transform: translateX(40px);
			}
				
			a {
				&:before {
					background: url(images/arrow-next.svg) no-repeat 0 0;

					@include tablet-portrait {
						order: 2;
						margin-left: 20px;
					}
				}
			}
		}
	}
}

body.single-agents {
	#agent-modal {
		display: none;
	}


	.article-header {
		.photo {
			padding-bottom: 40px;
		}

		.headline {
			padding-bottom: 20px;
		}

		.row {
			padding: 10px 0;
			border-bottom: 1px solid #9B9B9B;
		}
	}
}