body.single-listings {

	.hero {
		@include aspect-ratio(3, 4);

		@include mobile-landscape {
			@include aspect-ratio(4, 3);
		}

		@include tablet-landscape {
			@include aspect-ratio(16, 9);
		}

		.wrapper{
			height: 100%;
			display: flex;
			align-items: center;
		}

		.info {
			padding-top: 50px;
			display: flex;
			align-items: flex-start;

			@include tablet-landscape {
				
			}

			.status {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: center;
				width: 50px;
				min-height: 300px;
				background: $white;
				margin-right: 30px;
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
				padding-top: 30px;

				&:before {
					content: '';
					display: block;
					width: 60px;
					height: 2px;
					background: rgba(255, 255, 255, 0.4);
					position: absolute;
					top: -2px;
					left: -5px;
				}

				.icon {
					width: 100%;
					max-width: 35px;
					height: 66px;
					margin: 0 auto;
					transform: translateX(1px);

					@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
						transform: translateX(-6px);
					}
				}

				.label {
					display: block;
					text-transform: uppercase;
					transform: rotate(90deg) translate3d(-90px, -15px, 0);
					transform-origin: left bottom;
					color: $dark-gray;
					width: 100%;
					white-space: nowrap;
					font-weight: 500;

					@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) { 
						transform: rotate(90deg) translate3d(0, -15px, 0);
					}
				}
			}


			.headline {

				h1 {
					font-size: 2.75em;
					line-height: 0.875em;
					color: $white;

					@include tablet-portrait {
						font-size: 4.5em;
					}

					@include tablet-landscape {
						font-size: 5.75em;
					}
				}
			}

			.copy {
				padding: 50px 0;

				p {
					color: $white;
				}
			}

			.links {
				display: flex;

				.link {
					& + .link {
						margin-left: 15px;
					}
				}
			}
		}
	}

	section.ctas {
		background: $orange;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		border-bottom: 1px solid $charcoal;

		@supports(position: sticky) {
			@include tablet-portrait {
				position: sticky;
				top: 64px;
				z-index: 100;
			}

			@include tablet-landscape {
				top: 94px;
			}			
		}



		.cta {
			width: 100%;
			text-align: center;

			& + .cta {
				border-top: 1px solid $charcoal;
			}

			@include mobile-landscape {
				width: 50%;

				& + .cta {
					border-top: none;
					border-left: 1px solid $charcoal;
				}
			}

			a {
				display: block;
				font-weight: 600;
				font-size: 0.875em;
				letter-spacing: 0.03em;
				text-transform: uppercase;
				padding: 15px 10px;
				color: $white;

				&:hover {
					text-decoration: underline;
				}
			}
			
		}
	}

	section.status {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 90px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.logo, .info {
			width: 100%;

			@include tablet-portrait {
				width: 50%;
			}


		}

		.logo {
			padding: 0 25px 50px 25px;

			@include tablet-portrait {
				padding: 0 25px;
			}			

			img {
				margin: 0 auto;
			}
		}

		.info {
			border-left: 1px solid $charcoal;
			border-right: 1px solid $charcoal;
			padding: 0 25px;

			.headline {
				padding-bottom: 20px;
			}

			.cta {
				padding-top: 20px;
			}
		}

	}

	section.summary {
		.headline {
			padding-bottom: 30px;
		}

		.copy {
			p + p {
				padding-top: 20px;
			}
		}
	}

	section.details {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 125px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.details-table {
			width: 100%;

			& + .details-table {
				padding-top: 50px;
			}

			@include tablet-portrait {
				width: calc(50% - 20px);

				& + .details-table {
					padding-top: 0;
				}
			}

			.headline {
				padding-bottom: 10px;
			}

			.table {
				border-top: 1px solid $charcoal;
			}

			.row {
				border-bottom: 1px solid $charcoal;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				padding: 10px 0;

				.key,
				.value {
					width: 100%;					
					font-size: 0.875em;
					line-height: 1.25em;
					text-transform: uppercase;

					@include mobile-landscape {
						width: 50%;
						font-size: 1em;
					}

				}

				.value {
					padding-top: 2px;
					@include mobile-landscape {
						padding-top: 0;
					}

					span {
						font-weight: bold;
					}
				}
			}
		}
	}


	section.ctas + section.details-gallery {
		padding-top: 90px;
	}

	section.details-gallery {

		&.no-images {
			padding-bottom: 45px;;
		}

		.photo.video {
			@include aspect-ratio(16, 9);
		}

		.slick-next,
		.slick-prev {
			background: $light-gray;
			padding: 10px 10px;
		    height: 53px;
		    width: 83px;
		    bottom: 10%;
		    top: auto;
		}
		
		.slick-slide {
			img {
				width: 100%;
			}
		}

		.slick-dots {
			bottom: 10%;
		}
	}

	section.location {
		padding: 20px 0;

		.headline {
			padding-bottom: 20px;
			
			h2 {
				&:after {
					@include section-header-rule;
					left: -20px;
					top: 15px;
					height: 145px;
					z-index: 50;
				}
			}

		}

		#google-maps-link {
			position: absolute;
			z-index: 50;
			bottom: -90px;
			left: 20px;
			font-weight: 400;
			font-size: 1em;
			letter-spacing: 0.025em;

			@include tablet-landscape {
				left: 0;
			}
		}

		.acf-map {
			width: 100%;
			height: 80vh;

			@inlcude tablet-portrait {
				height: 500px;
			}
		}

		.acf-map img {
		   max-width: inherit !important;
		}
	}

	section.features-section {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.info {
			width: 100%;

			@include tablet-portrait {
				width: calc(55% - 20px);
			}

			.headline {
				padding-bottom: 30px;
			}

			.copy {
				p + p {
					padding-top: 20px;
				}
			}
		}

		.features {
			width: 100%;
			padding-top: 50px;

			@include tablet-portrait {
				width: calc(30%);
				padding-top: 0;
			}

			.feature {
				padding-bottom: 25px;
				border-bottom: 1px solid $charcoal;
				margin-bottom: 25px;

				&:last-of-type {
					margin-bottom: 0;
				}

				.headline {
					padding-bottom: 20px;
				}

			}

			&.with-icon {
				
				@include tablet-portrait {
					width: calc(30% + 115px);
				}

				.feature {
					display: flex;
					flex-wrap: wrap;
					border-bottom: none;
					margin-bottom: 0;

					.icon {
						max-width: 85px;
						margin-right: 30px;
						width: 100%;
						img {
							width: 100%;
						}
					}

					.feature-info {
						flex: 1;
						border-bottom: 1px solid $charcoal;
						padding-bottom: 25px;
					}
				}

			}
		}
	}

	section.about-the-area {
		background: #EBEEEF;

		.copy {
			p + p {
				padding-top: 20px;
			}

			ul, ol {
				padding-top: 20px;
			}
		}
	}

	section.gallery {
		margin-top: 10px;
		overflow: hidden;

		@include tablet-portrait {
			margin-top: 20px;
		}

		.main-photo {
			@include aspect-ratio(16, 7);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			.headline {
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				h2 {
					color: $white;
				}
			}

		}

		.photos {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin: 10px 0;

			@include tablet-portrait {
				margin: 20px 0;
			}

			.photo {
				width: 100%;
				margin-bottom: 10px;
				@include aspect-ratio(1,1);

				@include mobile-landscape {
					width: calc(50% - 10px);
				}

				@include tablet-portrait {
					width: calc(33.3333% - 10px);
				}

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		@supports (display: grid) {
			.photos {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 10px;
				
				@include tablet-portrait {
					grid-gap: 20px;
					grid-template-columns: repeat(4, 1fr);
				}
			}

			.photo {
				width: auto !important;
				margin-bottom: 0 !important;
				
				&:nth-child(10n+1),
				&:nth-child(10n+6) {
					grid-column: auto /span 2;
					grid-row: auto /span 2;
				}

				@include tablet-portrait {
					&:nth-child(10n+6) {
						grid-column: auto /span 1;
						grid-row: auto /span 1;
					}

					&:nth-child(10n+8) {
						grid-column: auto /span 2;
						grid-row: auto /span 2;
					}
				}



			}
		}


	}

	section.contact {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.section-header {
			text-align: center;

			h3 {
				padding: 40px 0;
			}
		}

		.deck {
			text-align: center;
			margin: 0 auto;
			max-width: 660px;
			padding-bottom: 75px;
		}

		.agents {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& > * {
				width: 100%;
				margin-bottom: 20px;

				@include mobile-landscape {
					width: calc(50% - 10px);
				}

				@include tablet-portrait {
					width: calc(33.3333% - 15px);
				}
			}

			@supports (display: grid) {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 50px 20px;

				@include mobile-landscape {
					grid-template-columns: 1fr 1fr;
				}

				@include tablet-portrait {
					grid-template-columns: 1fr 1fr 1fr;
				}

				& > * {
					width: auto !important;
					margin-bottom: 0 !important;
				}
			}
		}

		.agent {
			.info {
				padding-top: 30px;
			}
			.row {
				border-bottom: 1px solid $charcoal;

				&.headline {
					padding-bottom: 10px;
				}

				&.copy {
					padding: 10px 0;
				}

				a:hover {
					text-decoration: underline;
				}
			}
		}
	}
}