body.page-template-team {

	section.hero {
		.about {
			padding-top: 50px;

			p + p {
				padding-top: 20px;
			}
		}
	}

	section.team-members {
		padding: 25px 0 100px 0;

		@include listings-wrapper;

		.team-wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& > * {
				width: 100%;
				margin-bottom: 50px;

				@include mobile-landscape {
					width: calc(50% - 10px);
				}

				@include tablet-portrait {
					width: calc(33.3333% - 15px);
				}
			}

			@supports (display: grid) {
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 50px 20px;

				@include mobile-landscape {
					grid-template-columns: 1fr 1fr;
				}

				@include tablet-portrait {
					grid-template-columns: 1fr 1fr 1fr;
				}

				& > * {
					width: auto !important;
					margin-bottom: 0 !important;
				}
			}
		}

		.team-member {
			.info-wrapper {
				padding: 25px 25px 0 25px;

				@include mobile-landscape {
					padding: 25px 0 0 0;
				}
			}

			.row {

				&.headline {
					padding-bottom: 15px;
				}

				&.copy {
					padding: 1px 0;
				}

				a:hover {
					text-decoration: underline;
				}
			}

			.photo {
				img {
					width: 100%;
				}
			}

			.linkedin {
				padding: 20px 0;
			}

			.bio {
				padding-bottom: 20px;
			}
		}

	}

	section.big-ctas-header {
		padding: 50px 0 50px 0;

		h4 {
			&:after {
				top: 25px
			}
		}
	}

}