body.page-template-what-we-do {

	section.services {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 125px 0;
		}

		.service {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& + .service {
				padding-top: 50px;
				border-top: 1px solid $charcoal;

				@include tablet-portrait {
					border-top: none;
					padding-top: 115px;

					&:last-of-type {
						.info {
							border-bottom: none;
							padding-bottom: 0;
						}
					}
				}
			}

			.number {
				width: 100%;

				@include tablet-portrait {
					max-width: 60px;
				}
				
			}

			.icon {
				width: 100%;
				padding: 25px 0;

				@include tablet-portrait {
					max-width: 141px;
					margin: 0 75px 0 100px;
					padding: 0;
				}

				img {
					width: 100%;
					max-width: 70px;

					@include tablet-landscape {
						max-width: 141px;
					}
				}
			}

			.info {
				width: 100%;
				padding-bottom: 75px;

				@include tablet-portrait {
					width: auto;
					flex: 1;
					padding-bottom: 115px;
					border-bottom: 1px solid $charcoal;

				}

				.copy {
					padding: 20px 0 35px 0;
				}

				.cta {
					a.btn {
						border-width: 1px;
					}
				}
			}
		}
	}





}