body.page-template-why-us {

	section.processes {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 100px 0;
		}

		.wrapper {
			padding: 0;
			max-width: 100%;
		}

		.process {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			& + .process {
				padding-top: 50px;

				@include tablet-portrait {
					padding-top: 100px;
				}

			}

			@include tablet-portrait {
				&:nth-child(even) {
					.info {
						order: -1;
					}
					
				}
			}

			.image {
				width: 100%;
				margin-bottom: 40px;

				@include tablet-portrait {
					width: 50%;
					margin-bottom: 0;
				}
				img {
					width: 100%;
				}
			}

			.info {
				width: 100%;
				padding: 30px 40px 40px 40px;

				@include tablet-portrait {
					width: 50%;
					padding: 30px 40px 40px 40px;
				}

				.info-wrapper {
					max-width: 380px;

					&:after {
						@include section-header-rule;
						z-index: 10;
						left: -20px;
						top: 0;
						height: 100%;

						@include desktop {
							left: -40px;
						}
					}
				}

				.process-header {
					margin-top: -43px;

					@include tablet-portrait {
						margin-top: -60px;

					}

					h4 {
						font-family: $montserrat;
						text-transform: uppercase;
						font-size: 0.875em;
						font-weight: 400;
						padding: 20px 0 40px 0;
					}

					h2 {
						font-size: 2.25em;
						line-height: 0.5em;

						@include tablet-portrait {
							font-size: 5.25em;
						}
					}
				}

				.copy {
					padding: 20px 0;
				}

				.cta {

				}
			}

			&-1 {

				.image {					
					padding: 30px 0 43px 0;
					margin-bottom: 0;
					display: flex;
					align-items: center;

					@include tablet-portrait {
						width: calc(60% - 25px);
					}
				}

				.info {
					@include tablet-portrait {
						width: calc(40% - 25px);
					}
				}
			}

			&-2 {
				align-items: flex-end;

				.info-wrapper {
					margin-left: auto;
					max-width: 475px !important;
				}

				.image {					
					@include tablet-portrait {
						width: 45%;
						transform: translateY(-40px);
					}
				}

				.info {
					@include tablet-portrait {
						width: 55%;
						padding-bottom: 60px;
						&:after {
							content: '';
							display: block;
							width: 40px;
							height: 100%;
							z-index: 3;
							position: absolute;
							right: -40px;
							top: 0;
						}
					}
				}

			}

			&-3 {

				@include tablet-portrait {
					margin: 0 auto;
					max-width: 1200px;
					align-items: flex-end;
				}

				.process-header {
					h4 {
						@include tablet-portrait {
							padding-top: 30px !important;
						}
					}
				}
				.info {
					@include tablet-portrait {
						padding-left: 80px;
						transform: translate3d(-20px, 40px, 0);
					}
				}

				.info-wrapper {
					@include tablet-portrait {
						margin-right: auto;
						max-width: 475px !important;
					}


					&:after {

						@include tablet-portrait {
							left: -20px !important;
						}
						
					}
				}
			}

			&-4 {
				
				@include tablet-portrait {
					padding-top: 140px !important;
					align-items: flex-start;
				}

				.info-wrapper {
					margin-left: auto;
					max-width: 475px !important;
				}

				.image {					
					@include tablet-portrait {
						width: 45%;
					}
				}

				.info {
					@include tablet-portrait {
						width: 55%;
					}
				}

			}

		}
	}


	section.case-studies-header {
		text-align: center;
		overflow: hidden;

		.headline {
			h2 {
				padding-bottom: 40px;

				@include desktop {
					font-size: 4em;
				}
				
				&:after {
					@include section-header-rule;
					top: 50px;
					z-index: 50;
					height: 100px;

					@include tablet-portrait {
						top: 50px;
					}

					@include desktop {
						top: 70px;

					}
				}				
			}
		}

	}

	section.case-studies {
		z-index: 100;

		.case-study {
			.photo {
				@include aspect-ratio(1, 1);

				@include mobile-landscape {
					@include aspect-ratio(4, 3);
				}

				@include tablet-portrait {
					@include aspect-ratio(16, 7);
				}

				a {
					display: block;
					width: 100%;
					height: 100%;

					img {
						object-fit: cover;
						width: 100%;
						height: 100%;
					}
				}
			}

			.info {
				max-width: 1024px;
				margin: 0 auto;
				margin-top: -40px;
				z-index: 20;

				@include tablet-portrait {
					margin-top: -90px;
				}				

				.info-wrapper {
					padding: 70px 25px;
					text-align: center;
					background: $white;
				}

				.headline, .copy {
					max-width: 520px;
					margin: 0 auto;
				}

				.copy {
					padding: 20px 0;
				}

				.cta {
					.btn {
						border-width: 1px;
					}
				}

			}
		}

		.slick-dots {
			bottom: 50px;
		}

		.slick-prev,
		.slick-next {
			display: none;

			@include tablet-portrait {
				display: block;
				top: auto;
				bottom: 180px;
			}
		}

		.slick-prev {
			left: calc(50% - 360px);

			@include tablet-landscape {
				left: calc(50% - 400px);
			}
		}

		.slick-next {
			right: calc(50% - 360px);

			@include tablet-landscape {
				right: calc(50% - 400px);
			}
		}

	}

	section.testimonials {
		
		@include tablet-landscape {
			z-index: 1;
			margin-top: -220px;
			padding-top: calc(150px + 220px);
			background-size: 379px 272px;
			background-position: center top 270px;
		}


		@include desktop {
			margin-top: -275px;
			padding-top: calc(275px + 220px);
			background-position: center top 410px;
		}

	}


}