body.single-case_studies {

	.hero {
		@include aspect-ratio(3, 4);

		@include mobile-landscape {
			@include aspect-ratio(4, 3);
		}

		@include tablet-landscape {
			@include aspect-ratio(16, 9);
		}

		.wrapper{
			height: 100%;
			display: flex;
			align-items: center;
		}

		.info {
			padding-top: 50px;
			display: flex;
			align-items: flex-start;

			@include tablet-landscape {
				
			}

			.status {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: center;
				width: 50px;
				min-height: 300px;
				background: $white;
				margin-right: 30px;
				border-bottom-left-radius: 25px;
				border-bottom-right-radius: 25px;
				padding-top: 30px;

				&:before {
					content: '';
					display: block;
					width: 60px;
					height: 2px;
					background: rgba(255, 255, 255, 0.4);
					position: absolute;
					top: -2px;
					left: -5px;
				}

				.icon {
					width: 100%;
					max-width: 35px;
					height: 66px;
					margin: 0 auto;
					transform: translateX(1px);
				}

				.label {
					display: block;
					text-transform: uppercase;
					transform: rotate(90deg) translate3d(-90px, -15px, 0);
					transform-origin: left bottom;
					color: $charcoal;
					width: 100%;
					white-space: nowrap;
					font-weight: 500;
				}
			}


			.headline {

				h1 {
					font-size: 3.5em;
					line-height: 0.875em;
					color: $white;

					@include tablet-portrait {
						font-size: 4.5em;
					}

					@include tablet-landscape {
						font-size: 5.75em;
					}
				}
			}

			.copy {
				padding: 50px 0;

				p {
					color: $white;
				}
			}

			.links {
				display: flex;

				.link {
					& + .link {
						margin-left: 15px;
					}
				}
			}
		}
	}


	section.status {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 90px 0;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.logo, .info {
			width: 100%;

			@include tablet-portrait {
				width: 50%;
			}


		}

		.logo {
			padding: 0 25px 50px 25px;

			@include tablet-portrait {
				padding: 0 25px;
			}			

			img {
				margin: 0 auto;
			}
		}

		.info {
			border-left: 1px solid $charcoal;
			border-right: 1px solid $charcoal;
			padding: 0 25px;

			.headline {
				padding-bottom: 20px;
			}

			.cta {
				padding-top: 20px;
			}
		}

	}


	section.summary {
		padding-bottom: 100px;

		.headline {
			padding-bottom: 30px;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.info {
			width: 100%;

			@include tablet-portrait {
				width: calc(50% - 20px);
			}

			ul, ol {
				padding-top: 40px;
			}

			.copy {
				p + p {
					padding-top: 20px;
				}
			}
		}

		.details-table {
			width: 100%;
			padding-top: 50px;

			@include tablet-portrait {
				width: calc(50% - 20px);
				padding-top: 80px;
			}

			.headline {
				padding-bottom: 10px;
			}

			.table {
				border-top: 1px solid $charcoal;
			}

			.row {
				border-bottom: 1px solid $charcoal;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				padding: 10px 0;

				.key,
				.value {
					width: 100%;					
					font-size: 0.875em;
					line-height: 1.25em;
					text-transform: uppercase;

					@include mobile-landscape {
						width: 50%;
						font-size: 1em;
					}

				}

				.value {
					padding-top: 2px;
					@include mobile-landscape {
						padding-top: 0;
					}

					span {
						font-weight: bold;
					}
				}
			}

			.cta {
				padding-top: 20px;
			}
		}
	}

}