body {
	background: $white;
	overflow-x: hidden;
}

.wrapper {
	@include wrapper-padding;

}

section {
	overflow-x: hidden;
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

section.cover {
	overflow: hidden;
}


body {
	div.wpforms-container-full {
		margin: 0;

		.wpforms-form {
			.wpforms-field {
				padding: 0;

				& + .wpforms-field {
					padding-top: 40px;
				}
				
				input, textarea, select {
					font-family: $montserrat;
					font-size: 0.9375em;
					appearance: none !important;
					border: 1px solid $charcoal;
					background: transparent !important;
					border-radius: 0 !important;

					@include placeholder {
						color: $charcoal;
					}

					&:focus,
					&:active {
						outline: none;
					}

					&:-internal-autofill-selected {
						background: transparent !important;
					}
				}
			}

			.wpforms-submit-container {
				padding: 40px 0 0 0;
			}

			button[type=submit] {
				border: none;
				text-transform: uppercase;
				font-weight: 500;
				font-size: 0.875em;
				letter-spacing: 0.05em;

				&:hover {
					background-color: inherit;
					border: none;
				}
			}

			label.wpforms-error {
				padding-top: 5px;
				color: $red;
			}

			input.wpforms-error {
				border-color: $red;
			}
		}		
	}


	.wpforms-confirmation-container-full {
		background: transparent;
		border: 1px solid $charcoal;
		padding: 40px;
		margin: 0;

		p {
			font-size: 1em;
			line-height: 1.375em;
			font-weight: 400;

			& + p {
				padding-top: 15px;
			}

		}
	}
}
