@mixin grid-gap($column, $row) {

	& > div,
	& > article {
	  margin-right: $column;
	  margin-bottom:  $row;
	}
	
	@supports (grid-gap: 1rem) {
		grid-gap: $row $column;

		& > div,
		& > article {
		  margin-right: 0;
		  margin-bottom:  0;
		}
	}
}

@mixin two-col-grid {
	display: grid;
	grid-template-columns: 1fr;
	@include grid-gap(20px, 50px);

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
		@include grid-gap(20px, 140px);

		@for $i from 1 through 2 {
		    .grid-col-#{$i} {
		        -ms-grid-column: $i;
		    }
		}

		@for $i from 1 through 10 {
		    .grid-row-#{$i} {
		        -ms-grid-row: #{$i};
		    }				        
		}
	}
}