html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $charcoal;
	font: 400 100%/1 $montserrat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $georgia;
	font-weight: bold;
}

p {

}

a {
	color: $charcoal;
	transition: all 0.3s ease-in-out;
}

.btn {
	display: inline-block;
	background: $white;
	color: $charcoal;
	padding: 12px 25px 10px 25px;
	text-transform: uppercase;
	font-size: 0.875em;
	font-weight: 600;
	border: none;
	transition: all 0.3s ease-in-out;
	border: 2px solid $white;

	&:hover {
		background: $charcoal;
		color: $white;
		border: 2px solid $charcoal;
	}

	&.charcoal {
		background: $charcoal;
		color: $white;
		border: 2px solid $charcoal;
	}

	&.yellow {
		background: $orange;
		color: $white;
		border: 2px solid $orange;

		&:hover {
			border: 2px solid $white;
			background: $charcoal;
			color: $white;
		}
	}

	&.clear-white {
		background: transparent;
		border: 2px solid $white;
		color: $white;

		&:hover {
			background: $white;
			color: $charcoal;
		}
	}


	&.clear-charcoal {
		background: transparent;
		border: 2px solid $charcoal;
		color: $charcoal;

		&:hover {
			background: $charcoal;
			color: $white;
		}
	}
}

.section-header {
	&.center {
		text-align: center;
	}

	h4 {
		text-transform: uppercase;
		font-family: $montserrat;
		font-weight: 400;
		letter-spacing: 0.025em;
		font-size: 0.875em;

		@include tablet-portrait {
			font-size: 1.125em;
		}
	}
}

.headline {
	h2 {
		font-size: 2em;
		line-height: 1.125em;

		@include tablet-landscape {
			font-size: 3em;
		}

		@include desktop {
			font-size: 4em;
		}
	}


	h3 {
		font-size: 1.5em;
		line-height: 1.125em;

		@include tablet-landscape {
			font-size: 2.25em;
		}
	}
}

.copy {
	ul, ol {
		padding: 0;
		margin: 0 0 0 20px;
	}

	ul {
		list-style-type: disc;
	}

	ol {
		list-style-type: decimal;
	}

	&.p1 {
		p {
			font-size: 1.25em;
			line-height: 1.25em;
			font-weight: 500;

			@include tablet-portrait {
				font-size: 1.5em;	
			}
		}
	}

	&.p2 {
		p, li {
			font-size: 1em;
			line-height: 1.375em;

			@include tablet-portrait {
				font-size: 1.125em;	
			}

		}

		ol + p,
		ul + p {
			padding-top: 30px;
		}

		li + li {
			padding-top: 10px;
		}

		h1, h2, h3, h4, h5, h6 {
			padding-top: 30px;
			padding-bottom: 10px;
		}
	}

	&.p3 {
		p {
			font-size: 0.875em;
			line-height: 1.5em;

			@include tablet-portrait {
				font-size: 1em;	
			}
		}
	}

	&.extended {
		ul, ol {
			max-width: 640px;
			padding-left: 30px;

			& + * {
				padding-top: 30px;
			}
		}


		ul {
			list-style-type: disc;
			padding-top: 30px;
		}

		ol {
			list-style-type: decimal;
			padding-top: 30px;
		}

		a {
			text-decoration: underline;
		}

		blockquote {
			padding: 0 0 0 25px;
			margin: 30px 0 0 30px;
			border-left: 5px solid $charcoal;
			max-width: 640px;

			& + * {
				padding-top: 30px;
			}

			p {
				font-size: 1em;

				& + p {
					padding-top: 20px;
				}
			}
		}

	}

}