/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #7B7977;
$charcoal: #4A4A4A;
$dark-gray: #363537;
$slate: #2a2a2a;
$black: #000;

$red: #BF1E2E;
$blue: #434758;

$yellow: #F8E71C;
$orange: #E04403;
$dark-blue: #0C0D21;
$midnight-blue: #050D28;

/* Typography
----------------------------------*/
$georgia: Georgia, serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,700i');
$montserrat: 'Montserrat', sans-serif;