#agent-modal {
	width: 100%;;
	max-width: 285px;

	@include mobile-landscape {
		max-width: 665px;
	}


	.modal-wrapper {
		width: 100%;
		border: 4px solid $charcoal;
		padding: 20px;
		background: $white;

		@include mobile-landscape {
			padding: 65px 55px;
		}

		.close {
			background: $orange;
			color: $white;
			padding: 10px;
			position: absolute;
			top: 0;
			right: 0;
		}

	}

	.agent {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;


		.photo {
			width: 135px;

			@include mobile-landscape {
				max-width: 190px;
			}			
		}

		.info {
			width: 100%;
			padding: 50px 0 0 0;

			@include mobile-landscape {
				width: auto;
				flex: 1;
				padding: 0 0 0 50px;
			}

			.row {
				padding: 10px 0;
				border-bottom: 1px solid #9B9B9B;
				width: 100%;

				&.name {
					border-bottom: none;
				}
			}

			a:hover {
				text-decoration: underline;
			}
		}


	}
}


#overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1000;
	background: rgba(255, 255, 255, 0.9);
	transition: all 0.2s ease-in;

	&.show {
		opacity: 1;
		z-index: 10000;
	}

	#overlay-wrapper {
		display: flex;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}
}