section.big-ctas-header {
	padding: 50px 0 25px 0;
	text-align: center;
	overflow: hidden;

	.wrapper {
		max-width: 100%;
		width: 100%;
	}

	@include tablet-portrait {
		padding: 50px 0 35px 0;
	}

	.section-header {
		display: flex;
		justify-content: center;
	}

	h4 {
		padding-bottom: 20px;
		&:after {
			@include section-header-rule;
			top: 30px
		}
	}
}

section.big-ctas {
	display: flex;
	flex-wrap: wrap;

	.yellow {
		background: $orange;

		.headline {
			h3 {
				color: $white;
			}
		}
	}

	.charcoal {
		background: $dark-gray;

		.headline {
			h3 {
				color: $white;
			}
		}
	}


	.dark-blue {
		background: $dark-blue;

		.headline {
			h3 {
				color: $white;
			}
		}
	}

	.marketing-materials {
		.icon img {
			max-width: 102px
		}
	}

	.contact {
		.icon img {
			max-width: 65px
		}
	}

	.team {
		.icon img {
			max-width: 147px
		}
	}

	.case-studies {
		.icon img {
			max-width: 129px
		}
	}

	.process {
		.icon img {
			max-width: 114px
		}
	}

	.faqs {
		.icon img {
			max-width: 117px
		}
	}

	.valuation {
		.icon img {
			max-width: 123px
		}
	}

	.cta {
		@include aspect-ratio(1, 1);
		width: 100%;

		@include tablet-portrait {
			width: 50%;
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.icon {
			img {
				margin: 0 auto;
				width: 100%;
			}
		}

		.headline {
			max-width: 380px;
			margin: 0 auto;
			padding: 30px 50px;

			@include tablet-portrait {
				max-width: 460px;
			}
		}
	}
}
