section.cat-nav {
	padding: 30px 0 15px 0;

	@include mobile-landscape {
		padding: 30px 0;
	}

	.links {
		display: flex;
		flex-wrap: wrap;

		.label,
		.link {
			width: 33.3333%;
			padding-bottom: 15px;

			@include mobile-landscape {
				width: auto;
				padding-bottom: 0;
			}

			span, a {
				display: block;
				text-transform: uppercase;
				font-size: 0.875em;
				letter-spacing: 0.025em;

				@include mobile-landscape {
					margin-right: 30px;
				}

				@include tablet-portrait {
					margin-right: 40px;
				}
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
}

body.blog section.cat-nav .all a,
section.cat-nav .active a {
	font-weight: 600;
}