section.hero {

	&.cover {
		@include aspect-ratio(3, 4);

		@include mobile-landscape {
			@include aspect-ratio(4, 3);
		}

		@include tablet-landscape {
			@include aspect-ratio(16, 9);
		}

		.wrapper{
			height: 100%;
			display: flex;
			align-items: center;
		}

		.info{
			padding: 50px 0 0 0;

			.headline {
				h4 {
					color: $white;
				}

				h1 {
					color: $white;
				}
			}

			.copy {
				padding: 25px 0 50px 0;

				@include tablet-landscape {
					padding: 50px 0;
				}

				p {
					color: $white;
				}
			}
		}
	}

	.info {
		padding: 50px 0;

		@include tablet-portrait {
			padding: 75px 0;
		}	

		.headline {
			h4 {
				font-family: $montserrat;
				text-transform: uppercase;
				font-weight: 400;
				letter-spacing: 0.075em;
				padding-bottom: 10px;
			}

			h1 {
				font-size: 2.5em;
				line-height: 1em;

				br {
					display: none;
				}

				@include tablet-portrait {
					font-size: 3.5em;

					br {
						display: block;
					}
				}

				@include desktop {
					font-size: 5.25em;
				}

			}
		}

		.copy {
			max-width: 830px;
			padding-top: 15px;
		}

		.links {
			display: flex;

			.link {
				& + .link {
					margin-left: 15px;
				}
			}
		}
	}

}