.listings {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	& > * {
		width: 100%;
		margin-bottom: 20px;

		@include mobile-landscape {
			width: calc(50% - 10px);
		}

		@include tablet-portrait {
			width: calc(33.3333% - 15px);
		}
	}

	@supports (display: grid) {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 20px;

		@include mobile-landscape {
			grid-template-columns: 1fr 1fr;
		}

		@include tablet-portrait {
			grid-template-columns: 1fr 1fr 1fr;
		}

		& > * {
			width: auto !important;
			margin-bottom: 0 !important;
		}
	}
}

.listing {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	&:hover {
		.photo a {
			&:before {
				border-color: $orange;
				opacity: 1;
			}
		}
	}

	.photo {
		@include aspect-ratio(1, 1);

		a {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			&:before {
				content: '';
				display: block;
				width: calc(100% - 8px);
				height: calc(100% - 8px);
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				z-index: 2;
				opacity: 0;
				border: 4px solid transparent;
				transition: all 0.1s ease-in;
			}
		}

		img.thumbnail {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.status {
			padding: 20px;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			width: 70px;
			height: 100%;


			.icon {
				width: 100%;
				max-width: 40px;
				height: 60px
			}

			.label {
				display: block;
				text-transform: uppercase;
				transform: rotate(90deg) translate3d(-110px, -5px, 0);
				transform-origin: left bottom;
				color: $white;
				width: 100%;
				white-space: nowrap;

				@media screen and (min-width: 470px) {
					display: none;
				}

				@include tablet-landscape {
					display: block;
				}

			}
		}
	}

	.info {
		font-family: $montserrat;
		padding: 20px;

		@media screen and (min-width: 567px) {
			padding: 20px 0 0 0;
		}

		h4 {
			font-family: $montserrat;
			padding-bottom: 10px;
			font-size: 1.125em;
			color: $charcoal;
			letter-spacing: 0.01em;

			a:hover {
				text-decoration: underline;
			}
		}

		p {
			font-size: 1.125em;
			line-height: 2em;
			letter-spacing: 0.01em;
			color: $charcoal;
		}
	}

	.agent {
		padding: 10px 20px;
		display: flex;
		align-items: flex-end;

		@media screen and (min-width: 470px) {
			padding: 10px 0 0 0;
		}

		.empty {
			@include mobile-landscape {
				padding-top: 36px;
				border-bottom: 1px solid $charcoal;
				width: 100%;				
			}

		}

		.contact-btn {
			border: 1px solid $charcoal;
			width: 100%;
			text-align: center;
			font-weight: 600;
			letter-spacing: 0.025em;
		
			@media screen and (min-width: 470px) {
				font-size: 0.8125em;
			}

			@include tablet-portrait {
				font-size: 0.875em;
			}

			&:hover {
				background: $charcoal;
				color: $white;
			}

		}
	}




}


