section.newsletter-sign-up {
	background: $dark-gray;
	color: $white;
	padding: 25px 0;

	.wrapper {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
	}

	.headline {
		width: 100%;
		padding-bottom: 10px;

		@include tablet-portrait {
			width: auto;
			padding-bottom: 0;
		}
	}

	.form {
		width: 100%;

		@include tablet-portrait {
			width: auto;
			padding-left: 40px;
			flex: 1;
			display: flex;
			justify-content: flex-end;
		}


		.btn {
			margin-left: auto;

			&:hover {
				background: transparent;
				color: $white;
				border: 2px solid $white;
			}
		}

	}
}