section.page-header {
	padding: 40px 0 15px 0;

	@include tablet-portrait {
		padding: 90px 0 25px 0;
	}

	.headline {
		h4 {
			text-transform: uppercase;
			font-family: $montserrat;
			font-weight: 400;
			font-size: 0.875em;

			@include tablet-portrait {
				font-size: 1em;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
	
}