.testimonials {
	background: #ebeeef url(images/quote-icon.svg) no-repeat center top 40px;
	background-size: 303px 218px;
	padding: 100px 0;

	@include tablet-portrait {
		background-size: 379px 272px;
		background-position: center top 50px;
		padding: 150px 0;
	}

	@include desktop {
		padding: 275px 0 175px 0;
		background-position: center top 135px;
	}

	.slick-prev,
	.slick-next {
		display: none !important;

		@include tablet-portrait {
			display: block !important;
		}
	}

	.testimonial {
		.quote {
			text-align: center;
			max-width: 660px;
			margin: 0 auto;

			p {
				font-family: $georgia;
				font-size: 1.5em;
				line-height: 1.25em;
				font-style: italic;

				@include tablet-portrait {
					font-size: 2.25em;
				}
			}
		}

		.source {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 25px;

			.image {
				img {
					max-width: 90px;
				}
			}

			p {
				text-transform: uppercase;
				font-weight: bold;
				padding-left: 20px;
				font-size: 1em;

				@include tablet-portrait {
					font-size: 1.5em;
				}
			}
		}
	}
}