.search-field.desktop {
	display: none;
	width: 16px;

	@include tablet-landscape {
		display: block;
	}

	@include desktop {
		transform: translateX(-10px);
	}
	

	.search-trigger {
		display: block;
		width: 100%;

		img {
			width: 100%;
		}
	}
}


.search-field.mobile {
	display: none;
	padding-top: 20px;

	@include tablet-landscape {
		display: none !important;
	}

	.search-submit {
		background: url(images/search-icon-white.svg) no-repeat 0 0;
		border: none;
		display: block;
		width: 100%;
		height: 24px;
		max-width: 24px;
		position: absolute;
		bottom: 15px;

		&:focus,
		&:active {
			outline: none;
		}
	}

	.search-query {
		appearance: none;
		border: none;
		background: transparent;
		border-bottom: 2px solid rgba(255, 255, 255, 0.2);
		width: 100%;
		padding: 15px 10px 10px 40px;
		color: $white;

		&:focus,
		&:active {
			outline: none;
		}
	}
}


#search-form {
	display: none;


	.search-close {
		display: block;
		width: 40px;
		height: 40px;
		position: relative;
		background: $orange;

		&:after, &:before {
		    content: '';
		    display: block;
		    width: 35px;
		    height: 2px;
		    background: $white;
		    position: absolute;
		    z-index: 1;
		    border-radius: 2px;
		    transition: all 0.2s;
		    top: 19px;
		    left: 2px;
		}
		&:before {
		    transform: rotate(45deg);
		}
		&:after {
		    transform: rotate(-45deg);
		}
	}

	form {
		flex: 1;

	}

	.search-query {
		appearance: none;
		border: none;
		background: transparent;
		display: block;
		width: 95%;
		padding: 10px 0;
		font-size: 2em;
		font-family: $georgia;
		font-weight: bold;
		color: $dark-gray;
		z-index: 100000;
		border-bottom: 4px solid;

		@include placeholder {
			color: $dark-gray;
		}

		@include tablet-portrait {
			font-size: 4em;
		}

		&:focus,
		&:active {
			outline: none;

			@include placeholder {
				opacity: 0.5;
			}
		}




	}
}


body.search-open {
	overflow: hidden;

	#search-form {
		display: block;

		.overlay {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: rgba(255, 255, 255, 0.9);
			z-index: 10000;
		}

		.overlay-wrapper {
			max-width: 1004px;
			margin: auto;
			padding: 150px 25px 0 25px;
			display: flex;
			align-items: center;
		}
	}	
}